
<div class="container-fluid min-vh-100 d-flex justify-content-center bg-secondary bg-opacity-25">
    <div class="d-flex flex-column col-5 justify-content-center">
        <div class="d-flex justify-content-center">
            <form method="post" action="/chat" class="d-flex col-8 flex-column gap-3 mt-5 mb-5 ">
                <div>
                    <span>username: <span style="color: rgb(20, 54, 247);">user1 or user2</span> </span></di><br>
                    <span>password: <span style="color: rgb(20, 54, 247);">123</span> </span>
                </div>
                
                <div class="d-flex justify-content-center">
                    <div class="col-3 d-flex align-self-center">
                        <label for="" class="form-label">Tài khoản</label>
                    </div>
                    <div>
                        <input class="form-control" name="userName" type="text">
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="col-3 d-flex align-self-center">
                        <label for="" class="form-label">Mật khẩu</label>
                    </div>
                    <div>
                        <input class="form-control" type="password" name="password">
                    </div>
                </div>
                

                <div class="d-flex flex-column gap-2">
                    <div class="d-flex justify-content-end me-5">
                        <button class="btn btn-primary" >Đăng nhập</button>
                    </div>
                    <div class="d-flex justify-content-end me-5">
                        <a href="" class="text-danger">Đăng ký</a>
                    </div>
                    
                </div>

            </form>


        </div>
    </div>

</div>